#body{
    background-color: hwb(0 90% 10%);
    font-family: Arial, Helvetica, sans-serif;
}

#h1{
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 480%;
    margin-left: 20% ;
    margin-top: 15%;
}
#p1{
    font-size: 160%;
    font-family:  SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    margin-left: 20% ;
    margin-top: -1%;
}
#d1{
    background-color:#fff;

    border-radius: 10px;
    width: 400px;   
    height: 300px;
    margin-left: 55%;
    margin-top: -20%;
    padding:4%;
    float: left;
}
.mail{
    margin-left: 6%;
    padding-bottom: 7%;
    
}

.pass{
    margin-left: 6%;
    padding-bottom: 7%;
}

.c1{
    margin-left: 15%;
    font-size: larger;
}
#login{
    margin-left: 24px;
    text-align: center;
    color: #0866ff;
    background-color: #0866ff;
    border:none;
    border-radius: 10px;
    font-size: 20px;
    line-height: 52px;
    width: 359px;
}

.forgot{
    margin-left: 127px;
    margin-top: 33px;

}

.create{
    margin-left: 81px;
    text-align: center;
    background-color: #42b72a;
    border:none;
    border-radius: 10px;
    font-size: 20px;
    line-height: 52px;
    width: 244px;

}
.p2{
    margin-top: 12%;
    margin-left: 61%;
}